*{
    padding: 0;margin: 0;
}
.container{
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game{
    margin: 10px 15px;
    width: 600px;
    height: 280px;
    border: 1px solid black;
    overflow: hidden;
}
.char{
    width: 16px;
    height: 52px;
    background-color: black;
    position: relative;
    top: 228px;
    left: 15px;
}
.animate{
    
    animation: jump 1s infinite linear;
}
.block{
    width: 20px;
    height: 20px;
    background-color: brown;
    position: relative;
    top: 209px;
    left: 581px;
    animation: block 2s infinite linear;

}
/* Animation */
@keyframes block {
    0% {left: 580px;}
    100%{left: -20%;}
}
@keyframes jump{
    0%{top: 228px;}
    40%{top: 140px}
    60%{top: 140px}
   
    100%{top: 228px}
}